{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <!-- ===== Publication Style ===== -->
    {% if post.collection == 'publications' %}

      {% assign authors_highlight = post.authors | replace: "D. Wu", "<strong>D. Wu</strong>" %}

      <div style="margin-bottom:10px; line-height:1.35;">

        <span>
          <strong>{{ post.venue }} '{{ post.date | date: "%y" }}</strong> |
          <strong>{{ post.title }}</strong>
        </span>
        <br>

        <span>
          {{ authors_highlight }}
        </span>
        <br>

        <span>
          {% if post.paperurl %}
          <a href="{{ post.paperurl }}">PDF</a>
          {% endif %}

          {% if post.code %}
           | <a href="{{ post.code }}">Code</a>
          {% endif %}

          {% if post.arxiv %}
           | <a href="{{ post.arxiv }}">arXiv</a>
          {% endif %}
        </span>

      </div>

    <!-- ===== Teaching Style ===== -->
    {% elsif post.collection == 'teaching' %}

      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      </h2>

      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>

    <!-- ===== Default Style (Blog / Posts) ===== -->
    {% else %}

      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">
            <i class="fa fa-link" aria-hidden="true"></i>
          </a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>

      {% if post.date %}
        <p class="page__date">
          <strong>
            <i class="fa fa-fw fa-calendar"></i>
            {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}
          </strong>
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%B %d, %Y" }}
          </time>
        </p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt">{{ post.excerpt | markdownify }}</p>
      {% endif %}

    {% endif %}

  </article>
</div>
